body {
  text-align: center;
  background-color: lightgray;
  font-family: Arial;
  padding: 100px;
}

h1, h2 {
  color: black;
}

button {
  padding: 15px 20px;
  font-size: 10px;
  margin: 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}
